<div id="carInfo" >
  <div class="crs-headerbar">{{car.brand + ' ' + car.model}}</div>
  <img id="carPhoto" src="/assets/img/{{car.photo}}.jpg"/>
  <div id="carProperties">
    <div class="crs-field">
      <label for="horsePower">Мощность</label>
      <input id="horsePower" type="text" [value]="car.power"/>
    </div>
    <div class="crs-field">
      <label for="MAP">Место</label>
      <input id="MAP" type="text" [value]="car.location"/>
    </div>
    <input id="update" type="submit" value="Обновить" (click)="onUpdateCar()"/>
  </div>
  <a id="showMap" href="{{car.location}}">На карте</a>
</div>
