#registerForm {
    width:20em;
    height:14.5em;

    padding:0.2em;
    border-radius:0.5em;

    margin-top:6em;

    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;

    background-color:#666699;    
}

#tryRegister {
    color:#14141f;
    font-size:1.2em;
}
